;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:app {:target :node-script
        :output-to "app.js"
        :main acme-corp.red-squirrel.core/init!}}}
